<template>
    <Mainlayout>
        <div class="py-4">
            <div class="container">
                <div class="d-flex flex-column">
                    <div class="h1">Hello Word</div>
                    <router-link to="/page2">Go to Page2</router-link>
                    <div class="py-4">
                        <router-link to="/users/eduardo/posts/123" class="btn btn-primary" role="button">Go to Users Page</router-link>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" @click="btnclick()">Click me</button>
                    </div>
                    <div class="h3">{{store.state.count}}</div>
                    <ControllVuexCount></ControllVuexCount>
                    <div class="h5">{{store.state.UserInfo.userinfo}}</div>
                </div>
            </div>
        </div>
    </Mainlayout>
</template>

<script setup>
import { defineProps, reactive } from 'vue'
import Mainlayout from '../layouts/Mainlay.vue'
import ControllVuexCount from '../components/ControllVuexCount.vue'


import { useRoute, useRouter } from 'vue-router'
const router = useRouter()
const route = useRoute()

import {useStore} from "vuex"
const store = useStore();

function btnclick(){
    router.push({ path: '/users/eduardo/posts/123'})
}

</script>
