<template>
    <Mainlayout>
        <h2>page2</h2>
        <h3>{{myobj.myname}}</h3>
        <HelloWorld msg="GOGOGO"/>
    </Mainlayout>
</template>
<script setup>
import { defineProps, reactive } from 'vue'
import Mainlayout from '../layouts/Mainlay.vue'
import HelloWorld from '../components/HelloWorld.vue'

const myobj = reactive({
    myname:'pengfei Tang',
})
</script>
