<template>
    <div>User {{ $route.params.username }}</div>
    <div>User {{ $route.params.postId }}</div>
</template>

<script setup>
import { useRoute, useRouter } from 'vue-router'
const router = useRouter()
const route = useRoute()

alert(route.params.username)
</script>