<template>
    <div class="py-4">
        <div class="d-flex flex-row">
            <button type="button" class="mx-2 btn btn-primary" @click="btnplus()">+</button>
            <button type="button" class="mx-2 btn btn-primary" @click="btnmainasu()">-</button>
        </div>
        <div class="d-flex py-4">
            <button type="button" class="btn btn-primary" @click="btnsetuserinfo()">Change Userinfo</button>
        </div>
    </div>
</template>
<script setup>
import {useStore} from "vuex"
const store = useStore();

function btnplus(){
    let tempcount = store.state.count+4;
    store.commit('setcount',tempcount)
}

function btnmainasu(){
    let tempcount = store.state.count-4;
    store.commit('setcount',tempcount)
}

function btnsetuserinfo(){
    let tempuserinfo = {
        username:'Park',
        userage:'18',
    }
    store.commit('setuserinfo',tempuserinfo);
}
</script>